-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: pkkp
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `administrasi`
--

DROP TABLE IF EXISTS `administrasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `administrasi` (
  `no_pkkp` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`no_pkkp`),
  CONSTRAINT `fk_administrasi_peserta` FOREIGN KEY (`no_pkkp`) REFERENCES `data_peserta` (`no_pkkp`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `administrasi`
--

LOCK TABLES `administrasi` WRITE;
/*!40000 ALTER TABLE `administrasi` DISABLE KEYS */;
INSERT INTO `administrasi` VALUES ('1','Lolos');
/*!40000 ALTER TABLE `administrasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_kec`
--

DROP TABLE IF EXISTS `data_kec`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `data_kec` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_kota` int NOT NULL,
  `nama_kec` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_kec_kota` (`id_kota`),
  CONSTRAINT `fk_kec_kota` FOREIGN KEY (`id_kota`) REFERENCES `data_kota` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_kec`
--

LOCK TABLES `data_kec` WRITE;
/*!40000 ALTER TABLE `data_kec` DISABLE KEYS */;
INSERT INTO `data_kec` VALUES (1,1,'Pedurungan'),(2,1,'Gayamsari'),(3,2,'Sidorejo'),(4,2,'Tingkir'),(5,3,'Ambarawa'),(6,3,'Bawen');
/*!40000 ALTER TABLE `data_kec` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_kel`
--

DROP TABLE IF EXISTS `data_kel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `data_kel` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_kota` int NOT NULL,
  `id_kec` int NOT NULL,
  `nama_kel` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_kel_kota` (`id_kota`),
  KEY `fk_kel_kec` (`id_kec`),
  CONSTRAINT `fk_kel_kec` FOREIGN KEY (`id_kec`) REFERENCES `data_kec` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_kel_kota` FOREIGN KEY (`id_kota`) REFERENCES `data_kota` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_kel`
--

LOCK TABLES `data_kel` WRITE;
/*!40000 ALTER TABLE `data_kel` DISABLE KEYS */;
INSERT INTO `data_kel` VALUES (1,1,1,'Tlogomulyo'),(2,1,1,'Pedurungan Kidul'),(3,1,2,'Kaligawe'),(4,1,2,'Siwalan'),(5,2,3,'Blotongan'),(6,2,3,'Pulutan');
/*!40000 ALTER TABLE `data_kel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_kota`
--

DROP TABLE IF EXISTS `data_kota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `data_kota` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama_kota` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_kota`
--

LOCK TABLES `data_kota` WRITE;
/*!40000 ALTER TABLE `data_kota` DISABLE KEYS */;
INSERT INTO `data_kota` VALUES (1,'Kota Semarang'),(2,'Kota Salatiga'),(3,'Kab. Semarang');
/*!40000 ALTER TABLE `data_kota` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_peserta`
--

DROP TABLE IF EXISTS `data_peserta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `data_peserta` (
  `no_pkkp` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `nama` varchar(150) COLLATE utf8mb4_general_ci NOT NULL,
  `id_kota` int NOT NULL,
  `id_kec` int NOT NULL,
  `id_kel` int NOT NULL,
  `usia` int NOT NULL,
  `ipk` decimal(3,2) NOT NULL,
  `phone` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `skk` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `skck` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`no_pkkp`),
  KEY `fk_peserta_kota` (`id_kota`),
  KEY `fk_peserta_kec` (`id_kec`),
  KEY `fk_peserta_kel` (`id_kel`),
  CONSTRAINT `fk_peserta_kec` FOREIGN KEY (`id_kec`) REFERENCES `data_kec` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_peserta_kel` FOREIGN KEY (`id_kel`) REFERENCES `data_kel` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_peserta_kota` FOREIGN KEY (`id_kota`) REFERENCES `data_kota` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_peserta`
--

LOCK TABLES `data_peserta` WRITE;
/*!40000 ALTER TABLE `data_peserta` DISABLE KEYS */;
INSERT INTO `data_peserta` VALUES ('1','abdul ghani',1,2,4,19,3.60,'081208120812','ghani@gmail.com','Ada','Ada');
/*!40000 ALTER TABLE `data_peserta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kuota`
--

DROP TABLE IF EXISTS `kuota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kuota` (
  `id` int NOT NULL AUTO_INCREMENT,
  `thn_pelaksanaan` year NOT NULL,
  `jml_kuota` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_thn_pelaksanaan_unik` (`thn_pelaksanaan`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kuota`
--

LOCK TABLES `kuota` WRITE;
/*!40000 ALTER TABLE `kuota` DISABLE KEYS */;
/*!40000 ALTER TABLE `kuota` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nilai`
--

DROP TABLE IF EXISTS `nilai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nilai` (
  `id_nilai` int NOT NULL AUTO_INCREMENT,
  `no_pkkp` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `nama` varchar(150) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `kabko` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `ipk` decimal(3,2) DEFAULT NULL,
  `nilai_tulis` decimal(5,2) DEFAULT NULL,
  `niltuper` decimal(5,2) DEFAULT NULL,
  `nilai_wawancara` decimal(5,2) DEFAULT NULL,
  `nilwaper` decimal(5,2) DEFAULT NULL,
  `nilai_akhir` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`id_nilai`),
  UNIQUE KEY `idx_unik_no_pkkp` (`no_pkkp`),
  CONSTRAINT `fk_nilai_peserta` FOREIGN KEY (`no_pkkp`) REFERENCES `data_peserta` (`no_pkkp`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nilai`
--

LOCK TABLES `nilai` WRITE;
/*!40000 ALTER TABLE `nilai` DISABLE KEYS */;
INSERT INTO `nilai` VALUES (2,'1','abdul ghani','Kota Semarang',3.60,90.00,70.00,80.00,30.00,87.00);
/*!40000 ALTER TABLE `nilai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` int NOT NULL,
  `username` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (1,'admin','password');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-06-30  9:46:08
